<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter" />
      </div>

    </div>
    <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="paymentDetails && paymentDetails.length">
        <thead>
          <tr>
            <th style="display: none">id</th>
            <th>Customer Type</th>
            <th>Customer Code</th>
            <th>Date Entered</th>
            <th>Entered By</th>
            <th>Voucher Description</th>
            <th>Amount</th>
            <th style="display: none">custtypeid</th>
            <th style="display: none">voucherid</th>
            <th style="display: none">paymentmodeid</th>
            <!-- <th>Password</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pymtdetails of filteredPaymentDetails">
            <td style="display: none">{{ pymtdetails.id }}</td>
            <td>{{ pymtdetails.customerName }}</td>
            <td>{{ pymtdetails.custCode }}</td>
            <td>{{ pymtdetails.dateEntered | date :'medium' }}</td>
            <td>{{ pymtdetails.enteredBy }}</td>
            <td>{{ pymtdetails.voucherDescription }}</td>
            <td>{{ pymtdetails.amount }}</td>
            <td style="display: none">{{ pymtdetails.custtypeid }}</td>
            <td style="display: none">{{ pymtdetails.voucherid }}</td>
            <td style="display: none">{{ pymtdetails.paymentmodeid }}</td>
            <!-- <td>{{ registration.password }}</td> -->
            <td>
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
              (click)="updatepayment(pymtdetails)">
                Served
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

