<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <form novalidate
    (ngSubmit)="savePayment()"
    [formGroup]="paymentForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="firstNameId">Employee No</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="empoyeenoId"
                 type="text"
                 placeholder="Employee No (required)"
                 formControlName="custCode"/>
                 <span class="invalid-feedback">
                  <span *ngif="paymentForm.get('custCode').errors?.required">
                    Please enter the staff Employee No
                  </span>
                  <span *ngif="paymentForm.get('custCode').errors?.minlength">
                    Staff Employee no must not be less than 3 characters
                  </span>
                 </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="voucherId">Select Voucher</label>
        <div class="col-md-8">
          <select class="form-control" placeholder="Voucher required" formControlName="voucherId">
            <option value="0">--Select--</option>
            <option *ngFor="let vouch of vouchers"
                    value={{vouch.id}}>
                {{vouch.description}}
            </option>
        </select>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="paymentmodeId">Select Payment Mode</label>
        <div class="col-md-8">
          <select class="form-control" placeholder="Payment Mode (required)" formControlName="paymentmodeid">
            <option value="0">--Select--</option>
            <option *ngFor="let pymtmode of paymentmodes"
                    value={{pymtmode.id}}>
                {{pymtmode.name}}
            </option>
        </select>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px" [disabled]="!paymentForm.valid">
                  Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
          style="width:80px;"
          type="button"
          title="Cancel your edits"
          [routerLink]="['/payment']">
    Cancel
  </button>
        </div>
      </div>
    </form>
  </div>
</div>
