.bg-img{
  min-height: 60vh;
 width: 100%;
 background: url('/assets/dining.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 }
